<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

<head>
    <meta charset="UTF-8"/>
    <title>User registration</title>
</head>
<body>
<form method="post" action="/user">
<div class="form_group">
    <label>UserName:
        <input th:field="${user.username}" th:value="${username}" class="form-control">
    </label>
    <p class="errors" th:errors="${user.username}"></p>
</div>
<div class="form_group">
    <label>Email:
        <input  th:field="${user.email}" th:value="${email}" class="form-control">
    </label>
    <p class="errors" th:errors="${user.email}"></p>
</div>
    <div class="form_group">
        <label>password:
            <input  th:field="${user.password}" class="form-control">
        </label>
        <p class="errors" th:errors="${user.password}"></p>
    </div>

    <div class="form_group">
        <label>verifyPassword:
            <input  type=password th:field="${user.verifyPassword}" class="form-control">
        </label>
        <p class="errors" th:errors="${user.verifyPassword}"></p>
    </div>

 <div class="form_group">
    <input type="submit" value="add" class="btn btn-success">
 </div>
</form>

</body>
</html>